<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="my-first-component-styles.html">
<!--
`<my-first-component>` description.

Example:

```html
<my-first-component></my-first-component>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --my-first-component  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="my-second-component">
  <template>
    <style include="my-first-component-styles my-first-component-shared-styles"></style>
    <slot></slot>
    [[title]]
    <button on-click="_handleClick" >Enviar</button>

  </template>
  <script src="my-second-component.js"></script>
</dom-module>
